
/*.PAF {
  background-color: #f7941e;
  background: repeating-linear-gradient(
    45deg,
    #f7941e,
    #f7941e 45px,
    #0093dd 45px,
    #0093dd 90px
  );
}*/

span.PAN{ background-color: #0a6580; }
span.PPDPSD { background-color: #f7941e; }
span.PSD { background-color: #f7941e; }
span.PPD { background-color: #f7941e; }
span.PS { background-color: #feaaaa; }
span.CDU,
span.PCPPEV { background-color: #da251e; }
span.PCP { background-color: #da251e; }
span.CDSPP { background-color: #da251e; }
span.CDS { background-color: #0093dd; }
span.BE { background-color: #c90535; }
span.PCTPMRPP { background-color: #ef4035; }
span.PSN { background-color: #1b256d; }
span.PRD { background-color: #216b31; }
span.APU { background-color: #ff5d61; }
span.PDC { background-color: #050505; }
span.AD { background-color: #00ffff; }
span.FRS { background-color: #ff0000; }
span.UDP { background-color: #ff0000; }
span.MDP { background-color: #c83019; }
