.PAF {
  background-color: #f7941e;
  /* fallback */
  background: repeating-linear-gradient(45deg, #f7941e, #f7941e 45px, #0093dd 45px, #0093dd 90px); }

.PAN {
  background-color: #0a6580; }

.PPDPSD {
  background-color: #f7941e; }

.PSD {
  background-color: #f7941e; }

.PPD {
  background-color: #f7941e; }

.PS {
  background-color: #feaaaa; }

.CDU, .PCPPEV {
  background-color: #da251e; }

.PCP {
  background-color: #da251e; }

.CDSPP {
  background-color: #da251e; }

.CDS {
  background-color: #0093dd; }

.BE {
  background-color: #c90535; }

.PCTPMRPP {
  background-color: #ef4035; }

.PSN {
  background-color: #1b256d; }

.PRD {
  background-color: #216b31; }

.APU {
  background-color: #ff5d61; }

.PDC {
  background-color: #050505; }

.AD {
  background-color: #00ffff; }

.FRS {
  background-color: #ff0000; }

.UDP {
  background-color: #ff0000; }

.MDP {
  background-color: #c83019; }

.row {
  max-width: 100rem; }

.ano {
  text-align: center; }
  .ano h1 {
    margin-top: 25px;
    margin-bottom: 0;
    line-height: 1em; }
  .ano .info {
    display: inline-block; }
    .ano .info .partido {
      font-weight: bold;
      display: inline-block;
      border-radius: 20px;
      margin: 5px;
      padding: 25px; }
      .ano .info .partido .header {
        margin-bottom: 10px; }
      .ano .info .partido h3 {
        font-weight: bold;
        line-height: 1em;
        margin: 0; }
      .ano .info .partido .ball {
        border-radius: 50%;
        display: table-cell;
        vertical-align: middle;
        line-height: 1.2em;
        color: white;
        -webkit-box-shadow: 5px 5px 5px -5px #666666;
        -moz-box-shadow: 5px 5px 5px -5px #666666;
        box-shadow: 5px 5px 5px -5px #666666; }
      .ano .info .partido:hover {
        opacity: 0.8;
        cursor: default; }

.PAF {
  background-color: #f7941e;
  /* fallback */
  background: repeating-linear-gradient(45deg, #f7941e, #f7941e 45px, #0093dd 45px, #0093dd 90px); }
